#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
 
  .ant-layout{
    height: 100%;
  }
  
  .admin-logo{
    width:200px;
    margin-bottom:4px;
  }
  .admin-title{
  float:right;
  margin: 10px 520px 0 0;
  
  }
  .admin-title h1{
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    float:right;
  }
  

  .ant-layout-content{
    min-height: auto;
  }
  